.card {
    width: 290px;
    box-shadow: 2px 8px 21px -2px #777;
    border-radius: 10px;
    background-color: #fff;

    &__name {
        padding: 0;
        font-size: 24px;
        margin-block: 0 10px;
    }

    &__info {
        text-align: center;
    }
}